* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

.MuiSlider-rail, .MuiSlider-thumb, .MuiSlider-track {
  background: #fff !important;
  border: #fff !important;
}
